n8n-workflows/01_main_orchestrator.json
{
  "name": "01 - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-200, 300],
      "id": "trigger-schedule",
      "name": "⏰ Cron cada 6h"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 480],
      "id": "trigger-manual",
      "name": "▶️ Ejecutar manualmente"
    },
    {
      "parameters": {
        "jsCode": "// Verificar que no hay demasiados videos en proceso\n// Previene sobrecarga del sistema\nconst MAX_CONCURRENT = 3;\nreturn [{ json: { max_concurrent: MAX_CONCURRENT, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 380],
      "id": "code-config",
      "name": "⚙️ Config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as active FROM factory.videos WHERE status = 'processing' AND created_at > NOW() - INTERVAL '2 hours'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [340, 380],
      "id": "db-check-active",
      "name": "🔍 Check videos activos",
      "credentials": {
        "postgres": {
          "id": "factory-postgres",
          "name": "Factory PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-concurrent",
              "leftValue": "={{ $json.active }}",
              "rightValue": "={{ $('⚙️ Config').item.json.max_concurrent }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [580, 380],
      "id": "if-can-process",
      "name": "🔀 ¿Puede procesar?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.WORKFLOW_ID_RESEARCHER }}",
          "mode": "id"
        },
        "waitForSubWorkflow": true
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 280],
      "id": "run-researcher",
      "name": "🔬 Researcher"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.WORKFLOW_ID_SCRIPTWRITER }}",
          "mode": "id"
        },
        "waitForSubWorkflow": true
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1060, 280],
      "id": "run-scriptwriter",
      "name": "✍️ Scriptwriter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.WORKFLOW_ID_PRODUCER }}",
          "mode": "id"
        },
        "waitForSubWorkflow": true
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1300, 280],
      "id": "run-producer",
      "name": "🎬 Producer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO factory.logs (level, service, event, message, metadata) VALUES ('info', 'orchestrator', 'pipeline_skipped', 'Demasiados videos en proceso', $1::jsonb)",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify({ active_count: $json.active }) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [820, 500],
      "id": "db-log-skip",
      "name": "📝 Log skip",
      "credentials": {
        "postgres": {
          "id": "factory-postgres",
          "name": "Factory PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "⏰ Cron cada 6h": {
      "main": [[{ "node": "⚙️ Config", "type": "main", "index": 0 }]]
    },
    "▶️ Ejecutar manualmente": {
      "main": [[{ "node": "⚙️ Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Config": {
      "main": [[{ "node": "🔍 Check videos activos", "type": "main", "index": 0 }]]
    },
    "🔍 Check videos activos": {
      "main": [[{ "node": "🔀 ¿Puede procesar?", "type": "main", "index": 0 }]]
    },
    "🔀 ¿Puede procesar?": {
      "main": [
        [{ "node": "🔬 Researcher", "type": "main", "index": 0 }],
        [{ "node": "📝 Log skip", "type": "main", "index": 0 }]
      ]
    },
    "🔬 Researcher": {
      "main": [[{ "node": "✍️ Scriptwriter", "type": "main", "index": 0 }]]
    },
    "✍️ Scriptwriter": {
      "main": [[{ "node": "🎬 Producer", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler"
  },
  "tags": ["factory", "orchestrator"]
}
